*{
  box-sizing: border-box;
}

.input__box{
  text-align: center;
}

.input__search-icon{
  width:30px;
  height: 30px;
  border: 1px solid #6c757d;
  border-radius: 5px 0px 0px 5px;
  background-color: #ef99aa;
  padding: 3.5px 4px 6px 5px;
}

.input__field{
  font-family: 'Kaushan Script', cursive, sans-serif;
  color: #6c757d;
  max-width: 300px;
  width:100%;
  height: 30px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #6c757d;
  padding-left: 10px;

}