*{
  box-sizing: border-box;
}

.welcome__box{
  background-image: url("https://images.squarespace-cdn.com/content/v1/5e5092b8b5747545ede3e85a/1588554610507-9PXO8J5S8BVEUTQU1428/winter-white-mcarons-01.jpg?format=2500w");
  height:600px;
  //align-items: center;
  //height:100%;
}

.welcome__text{
  //justify-items: center;
  //align-items: center;
  //justify-content: center;
}

.welcome_button{
  text-align: center;
}