@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
  box-sizing: border-box;
}

.cardBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:30px;
  justify-content: center;
  padding:30px;
}

.card{
  box-shadow: 6px 6px 20px;
}

.picture{
  position: relative;
  overflow: hidden;
}

.card__buy{
  cursor: pointer;
}

.zoom{
  transition: all 1s ease-out;

  &:hover{
    transform: scale(1.2);
  }
}

.textSection{
  font-family: 'Kaushan Script', cursive, sans-serif;
  display: flex;
  justify-content: space-between;
  width:100%;
  max-width: 300px;
  padding: 20px;

}
